---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Krishna's Knowledge Journal">

  <main class="container">

    <h1>Krishna's Knowledge Journal</h1>

    <p>
      Learn. Think. Understand.
    </p>

  </main>

</BaseLayout>